# Environments
.env
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
